@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.container2 {
    /* width: max-content; */
    width: 80%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
}

.main_container_coffee {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_heading {
    /* font-family: "Pacifico", cursive; */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(35, 35, 35);
    /* background-color: #F4A261; */
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.coffee_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centre;
}

.coffee_img img {
    height: 140px;
    width: 140px;
    margin-bottom: 12px;
}

.coffee_price {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.coffee_price h2 {
    font-size: 1.5rem;
    color: rgb(29, 29, 29);
    /* font-family: "Pacifico", cursive; */
    margin: 10px;
}

.small_coffee_img {
    height: 30px;
    width: 30px;
    margin: 0px 10px;
}

.note_container textarea {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    outline: 0;
    box-shadow: 1px 1px 8px rgb(60, 60, 60);
    border-radius: 10px;
}

.quantity_container {
    /* font-family: "Pacifico", cursive; */
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 8px rgb(60, 60, 60); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.quantity_container button {
    margin: 0px 5px;
    /* padding: 3px 10px; */
}

.quantity {
    margin: 0px 10px;
    padding: 3px 10px;
}

.modal {
    position: relative;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.modal button {
    margin: 10px 0px;
}

.close {
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
}